@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins&display=swap");
$color: darken(
  $color: #ff6969,
  $amount: 5%,
);
$light-txt: #8a8a8a;
