@import "config";
body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

.or {
  margin: 0.5rem 0;
  color: $light-txt;
  display: flex;
  .divider {
    display: inline-block;
    border-bottom: $light-txt 1px solid;
    width: 100px;
    margin: 30px;
  }
}
