<<<<<<< HEAD
.Auth{
  .input {
    &__subjectCode {
      height: 2rem;
      width: 280px;
      margin-top: 1rem;
      margin-left: 0.5rem;
    }
  }
}

=======
.input {
  &__subjectCode {
    height: 2rem;
    width: 280px;
    margin-top: 1rem;
    margin-left: 0.5rem;
  }
}
>>>>>>> 825bbeabc9aabb4b1e1dac9ff33b2a7476fba50d
